/* ============================================================================================================
                                                
                                            GENERAL STYLING

===============================================================================================================*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #163746;
    --blue: #1f6585;
    --green: #5C8F21;
    --red: #BF1717;
    --yellow: #F9DC5C;
    --white: #edeff0;
    --grey: #696969;
}

.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.unica-one-regular {
    font-family: "Unica One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a,
a:visited {
    color: currentColor;
    text-decoration: none;
}

body {
    transition: opacity 1s ease;
    opacity: 0;
}

main,
.nav {
    position: fixed;
    top: calc(6vh + 29px);
    bottom: calc(6vh + 11px);
    right: 0;
    left: 0;
    padding: 5vh 5vw;
    transition: all 1s ease;
}

.light {
    background-color: var(--white);
    color: var(--dark-blue);
}

.light .divider-line {
    background-color: var(--dark-blue);
}

.light .profile-img,
.light #pop-up-box {
    box-shadow: 4px 4px 10px var(--dark-blue), -4px -4px 10px var(--dark-blue), 4px -4px 10px var(--dark-blue), -4px 4px 10px var(--dark-blue);
}

.dark {
    background-color: var(--dark-blue);
    color: var(--white);
}

.dark .divider-line {
    background-color: var(--white);
}

.dark .profile-img,
.dark #pop-up-box {
    box-shadow: 4px 4px 10px var(--grey), -4px -4px 10px var(--grey), 4px -4px 10px var(--grey), -4px 4px 10px var(--grey);
}

.home,
h1,
h2,
.nav,
.about-button,
#pop-up-box h2,
.photo-overlay,
footer p,
#pop-up-box h2 {
    font-family: 'Unica One', 'Varela Round', sans-serif;
}

body,
#pop-up-box,
.form-control,
.form-control h2 {
    font-family: "Varela Round", "Fira Sans Condensed", sans-serif;
}

.hidden {
    display: none;
}

.language-switch-container,
.theme-switch-container,
.nav-button-container,
.nav-link,
.home-link,
.about-button,
.close,
.message-link,
.photo-overlay a,
#send-button {
    cursor: pointer;
}

/* ============================================================================================================
                                                
                                        HEADER/FOOTER STYLING

===============================================================================================================*/

header,
footer {
    padding: 0 6vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
}

header {
    z-index: 3;
    font-size: small;
    top: -6vh;
    transition: top 1s ease;
}

footer {
    bottom: -6vh;
    transition: all 1s ease;
}

footer p {
    font-size: x-small;
    text-align: center;
    font-weight: 600;
}

.header-left,
.header-right {
    width: 50%;
}

.header-left {
    float: left;
}

#logo {
    height: 30px;
}

.header-right {
    float: right;
}

.header-right ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
}

.header-right li {
    margin-left: 20px;
}

#language-switch-container,
#theme-switch-container,
#nav-button,
#logo {
    transition: all 1s ease;
}

.language-switch {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: larger;
}

.nav-button {
    border: none;
}


/* ============================================================================================================
                                                
                                            NAV STYLING

===============================================================================================================*/

.nav {
    display: none;
    opacity: 0;
}

.nav-wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.nav ul {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    max-height: 200px;
    padding-left: 15vw;
}

.nav li {
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-link {
    z-index: 3;
    transition: border .5s ease;
    display: inline-block;
    position: relative;
    padding-bottom: 7px;
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    background-color: var(--yellow);
    transition: width .5s ease-out;
}

.nav-link:hover::before {
    width: 100%;
}

/* ============================================================================================================
                                                
                                       HOME PAGE STYLING

===============================================================================================================*/

.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.home h1 {
    font-size: 1rem;
}

.name {
    text-shadow: 2px 2px 4px var(--grey);
    letter-spacing: 1px;
}

.full-name {
    font-size: 1.5rem;
}

.nickname {
    font-size: 1.75rem;
}

.home h2 {
    border-top: 2px dashed currentColor;
    border-bottom: 2px dashed currentColor;
    padding: 5px;
    width: fit-content;
}

.home h2 {
    margin: 5px 0 7px;
    font-size: .8rem;
}

.home-links-container {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.home-link-wrapper:first-of-type {
    margin-right: 15px;
}

.home-link {
    font-weight: 600;
    font-size: .9rem;
}

.home-link-wrapper:hover,
.home-link-wrapper:focus {
    scale: 1.2;
}

.arrow,
.download {
    margin-right: 10px;
}

/* ============================================================================================================
                                                
                                            ABOUT PAGE STYLING

===============================================================================================================*/

.about {
    position: absolute;
    bottom: 0;
    padding: 20px;
}

.about-wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
}

.about h1,
.projects h1,
.contact h1 {
    font-size: 2.75rem;
}

.divider-line {
    margin: 5px 0;
    height: 5px;
    background: var(--dark-blue);
    border: none;
    transition: background-color 1s ease;
}

.about-right,
.about-left {
    margin: 0 auto;
    max-width: 309px;
    padding: 20px 10px;
}

.about-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-p {
    font-size: 1rem;
    margin: 20px 0;
}

.message-link,
.treehouse-link {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.about-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 30px 0;
}

.about-button-wrapper:not(:last-of-type) {
    margin-bottom: 10px;
}

.about-button {
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    background: transparent;
    color: currentColor;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-button-wrapper:hover .about-button,
.about-button-wrapper:focus .about-button {
    text-shadow: 2px 2px 2px var(--light-blue);
}

.about-button-wrapper:hover,
.about-button-wrapper:focus {
    scale: 1.1;
}

.profile-img {
    width: 100%;
    border-radius: 20px;
}

#message-link {
    text-decoration: underline;
    text-underline-offset: 3px;
}

/* ============================================================================================================
                                                
                                        ABOUT PAGE -- POP UP BOX

===============================================================================================================*/

#pop-up-div {
    width: 0;
    height: 0;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 7;
}

#pop-up-box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 1.5rem;
}

#pop-up-box {
    font-size: 1rem;
    background-color: white;
    color: var(--dark-blue);
    border: none;
    padding: 25px;
    z-index: 6;
    width: 80vw;
    max-width: 300px;
    height: fit-content;
    box-shadow: 2px 2px 20px var(--light-blue), -2px -2px 20px var(--light-blue), 2px -2px 20px var(--light-blue), -2px 2px 20px var(--light-blue);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: auto;
    max-height: 70vh;
    overscroll-behavior: none;
    scrollbar-width: thin;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#pop-up-box::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
#pop-up-box {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.hidden {
    display: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    color: var(--dark-blue);
    background-color: transparent;
    border: none;
    font-weight: 700;
}

#pop-up-box {
    font-size: .9rem;
}

#education {
    text-align: center;
}
 
#education li {
    line-height: 1.2;
}

#education li:not(:last-of-type) {
    margin-bottom: 1rem;
}

#education {
    list-style-type: none;
    padding-left: 0;
}

#skills ul {
    text-align: left;
    margin: 0 auto;
    padding-left: 15px;
}

.sublist {
    list-style-type: disc;
}

.sublist-level-2 {
    list-style-type: disclosure-closed;
}

.sublist,
.sublist-level-2 {
    margin-left: 20px;
}

#pop-up-box p {
    margin-top: 20px;
    text-align: center;
}

#pop-up-box a {
    color: var(--dark-blue);
    text-underline-offset: 2px;
}

/* ============================================================================================================
                                                
                                            WORK PAGE

===============================================================================================================*/

.work {
    position: absolute;
    bottom: unset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-wrapper {
    padding: 20px 10px;
}

.projects h1,
.projects .divider-line {
    width: 90%;
    margin: 5px auto;
    max-width: 950px;
}

#portfolio-container {
    width: 230px;
    margin: 40px auto 60px;
}

.project-container {
	text-align: center;
	margin-bottom: 30px;
}

.project-container,
.project-photo,
.project-photo img,
.photo-overlay {
    border-radius: 8px;
    max-height: 129px;
    max-width: 298px;
}

.project-container img,
.photo-overlay {
    max-width: 100%;
}

.project-photo {
	position: relative;
}

.project-container:focus .photo-overlay,
.project-container:hover .photo-overlay {
    opacity: 1;
    box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.8), -5px -5px 18px rgba(0, 0, 0, 0.8);
}

.project-photo a {
    color: var(--white);
    font-weight: 600;
    font-size: .8rem;
    position: absolute;
    bottom: 10px;
    background-color: var(--grey);
    border-radius: 5px;
    padding: 2px 8px;
    -webkit-transition: transform .5s ease-in-out, background-color .25s ease-in-out;
    border: 1px solid var(--grey);
    text-decoration: none;
}

.project-photo a:hover,
.project-photo a:focus {
    color: var(--white);
    background-color: var(--green);
    -webkit-transform: scale(1.1);
}

.photo-overlay {
	color: var(--white);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 10px;
	padding-right: 10px;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, .8); 
    opacity: 0;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1s;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
}

.photo-overlay h2 {
    font-size: 1.1rem;
    margin: 0;
    position: absolute;
    top: 10px;
}

.photo-overlay-p {
    font-size: .9rem;
    text-align: center;
    margin: 0;
    line-height: 1;
}

.projects-footer {
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    margin: 0px auto;
    padding: 0 10px;
    text-transform: uppercase;
}

.projects-footer a {
    text-underline-offset: 5px;
    text-decoration: underline;
}

.fr-photo-overlay-p {
    font-size: 12px;
}

/* ============================================================================================================
                                                
                                            CONTACT PAGE

===============================================================================================================*/


.contact {
    position: absolute;
    bottom: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 0 40px;
}

.contact-left,
.contact-right {
    padding: 15px 10px;
    margin: 0 auto;
}

.contact-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-heading {
    text-align: center;
}

.contact-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

form,
.contact-links-wrapper {
    width: 100%;
    margin: 0 auto;
}

.contact-links-wrapper {
    margin-top: 15px;
}

.contact ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
}

.contact svg {
    height: 40px;
    width: 50px;
    transition: transform .5s ease, opacity 1s ease;
}

.contact-icons {
    fill: var(--dark-blue);
    transition: fill 1s ease;
}

.contact svg:hover,
.contact svg:focus {
    transform: rotate(10deg) scale(1.2);
}

.form {
    padding: 30px 15px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    letter-spacing: .5px;
}

.form-control h2 {
    text-align: center;
    font-size: 1.2rem;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-control input,
.form-control textarea {
    border-radius: 5px;
    border: 3px solid var(--white);
    display: block;
    font-size: 1rem;
    width: 100%;
    padding: 10px 35px 10px 10px;
    font-family: 'Varela Round', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.form-control textarea::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.form-control textarea {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.form-control i {
    position: absolute;
    top: 38px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    bottom: 0;
    left: 5px;
    visibility: hidden;
    font-size: 12px;
    font-weight: 600;
    color: var(--white);
    text-transform: none;
}

.send-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#send-button {
    margin: 0 auto;
    padding: 5px 40px;
    background-color: var(--dark-blue);
    color: var(--white);
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
    transition: all .5s ease;
    border: none;
}

#send-button:hover,
#send-button:focus {
    transform: scale(1.2);
    background-color: var(--green);
}

.success input,
.success textarea {
	border-color: var(--green);
}

.error input,
.error textarea {
	border-color: var(--red);
}
.success i.fa-solid.fa-circle-check {
	color: var(--green);
	visibility: visible;
}

.error i.fa-solid.fa-circle-exclamation {
	color: var(--red);
	visibility: visible;
}

.form-control.error small {
	visibility: visible;
}

/* ============================================================================================================
                                                
                                            MEDIA QUERIES

===============================================================================================================*/

@media screen and (min-width: 320px) {
    .projects-footer {
        max-width: 350px;
    }

    #portfolio-container {
        width: 300px;
    }

    .photo-overlay h2 {
        font-size: 1.5rem;
    }

    .photo-overlay-p {
        font-size: 1.1rem;
    }

    .photo-overlay a {
        font-size: 1.1rem;
    }

    .projects-wrapper {
        font-size: 1.2rem;
    }

    .project-container,
    .project-photo,
    .project-photo img,
    .photo-overlay {
        max-height: 168px;
    }
}

@media screen and (min-width: 600px) {
    .about h1,
    .projects h1,
    .contact h1 {
        font-size: 3rem;
    }

    .about-wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 30px 0px;
        max-width: unset;
        width: 560px;
    }
    
    .about-right,
    .about-left {
        width: 100%;
        margin: 0;
        max-width: unset;
    }

    .about-left {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-right {
        padding: 0;
    }

    .about-p {
        margin: 20px 10px 20px 0;
        font-size: .8rem;
    }

    .about-button-container {
        margin: 0;
    }

    .about-button-wrapper:first-of-type {
        margin-bottom: 10px;
    }

    .about-button {
        font-size: 1.25rem;
    }

    .profile-img {
        max-width: 350px;
    }
    
    #pop-up-box {
        padding: 40px;
        font-size: 1.1rem;
        max-width: 400px;
    }

    #pop-up-box h2,
    .close {
        font-size: 2rem;
    }
}

@media screen and (min-width: 566px) {
    .contact {
        bottom: 0;
    }

}

@media screen and (min-width: 320px) and (min-height: 400px) {

    header {
        font-size: medium;
    }

    #logo {
        height: 35px;
    }

    .header-right li {
        margin-left: 30px;
    }

    .nav ul {
        max-height: 250px;
    }

    .nav li {
        font-size: 2.5rem;
    }

    .home h1 {
        font-size: 1.25rem;
    }

    .full-name {
        font-size: 2rem;
    }

    .nickname {
        font-size: 2.5rem;
    }

    .home h2 {
        margin: 15px 0 20px;
        font-size: 1rem;
    }

    .home-links-container {
        flex-direction: column;
    }

    .home-link-wrapper:first-of-type {
        margin: 0 0 15px;
    }

    .home-link {
        font-size: 1.5rem;
    }

    footer p {
        font-size: small;
    }
}

@media screen and (min-width: 600px) and (min-height: 500px) {
    .about {
        bottom: 0;
        display: flex;
    }
}

@media screen and (min-width: 768px) and (min-height: 400px) {

    header {
        font-size: x-large;
    }

    #logo {
        height: 50px;
    }

    .header-right li {
        margin-left: 40px;
    }

    .nav ul {
        max-height: 300px;
        padding-left: 20vw;
    }

    .nav li {
        font-size: 3rem;
    }

    .home h1 {
        font-size: 1.5rem;
    }

    .full-name {
        font-size: 2.5rem;
    }

    .nickname {
        font-size: 3rem;
    }

    .home h2 {
        margin: 10px 0 15px;
        font-size: 1.3rem;
    }

    .home-link {
        font-size: 1.75rem;
    }

    footer p {
        font-size: medium;
    }

    .about h1,
    .projects h1,
    .contact h1 {
        font-size: 3.25rem;
    }

    .about-wrapper {
        width: 660px;
    }

    .about-p {
        font-size: 1rem;
    }

    #pop-up-box {
        width: fit-content;
    }

    .contact svg {
        height: 45px;
        width: 55px;
    }
}

@media screen and (min-width: 768px) {
    .projects-wrapper {
        padding: 40px 0;
    }

    #portfolio-container {
        width: 700px;
    }

    #portfolio-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .project-container {
		width: 47%;
		float: left;
	}

    .projects-footer {
        max-width: 500px;
        font-size: 1rem;
    }

    .projects-heading {
        align-items: flex-start;
    }

    .photo-overlay-p {
        font-size: 1.2rem;
    }
    
    .fr-photo-overlay-p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) and (min-height: 550px) {

    #logo {
        height: 60px;
    }

    .header-right li {
        margin-left: 50px;
    }

    .nav ul {
        max-height: 400px;
    }

    .nav li {
        font-size: 3.75rem;
    }

    .home h1 {
        font-size: 2.5rem;
    }

    .full-name {
        font-size: 3.3rem;
    }

    .nickname {
        font-size: 3.75rem;
    }

    .home h2 {
        margin: 15px 0 20px;
        font-size: 1.75rem;
    }

    .home-link {
        font-size: 2rem;
    }

    footer p {
        font-size: large;
    }

    .about-wrapper {
        width: 960px;
    }

    .about-left {
        width: 60%;
    }

    .about-right {
        width: 40%;
    }

    .about h1,
    .projects h1,
    .contact h1 {
        font-size: 3.5rem;
    }

    .about-p {
        font-size: 1.25rem;
    }

    .about-button-container {
        margin-top: 10px;
    }

    .about-button {
        font-size: 1.75rem;
    }

    .contact svg {
        height: 50px;
        width: 60px;
    }
}

@media screen and (min-width: 1024px) {
    .projects-wrapper {
        padding: 60px 0;
    }

    #portfolio-container {
        width: 1000px;
    }

    .project-container {
		width: 32%;
		float: left;
	}

    .photo-overlay h2 {
        font-size: 1.4rem;
        top: 8%;
    }

    .photo-overlay-p {
        font-size: 1.3rem;
        padding: 0;
    }

    .projects-footer {
        font-size: 1.1rem;
    }
}



