/* ============================================================================================================
                                                
                                            GENERAL STYLING

===============================================================================================================*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #163746;
    --green: #5C8F21;
    --red: #BF1717;
    --yellow: #F9DC5C;
    --white: #edeff0;
    --grey: #696969;
    --nav-accent-color: #F9DC5C;
}

.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.unica-one-regular {
    font-family: "Unica One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a,
a:visited {
    color: currentColor;
    text-decoration: none;
}

body {
    /* opacity: 0;
    transition: opacity 500ms; */
    font-family: "Varela Round", sans-serif;
}

.light {
    background-color: var(--white);
    color: var(--dark-blue);
}

.dark {
    background-color: var(--dark-blue);
    color: var(--white);
}

main,
.nav {
    position: fixed;
    top: calc(6vh + 29px);
    bottom: calc(6vh + 11px);
    right: 0;
    left: 0;
    padding: 5vh 5vw;
}

.home,
h1,
h2,
.nav {
    font-family: 'Unica One', 'Varela Round', sans-serif;
}

/* ============================================================================================================
                                                
                                        HEADER/FOOTER STYLING

===============================================================================================================*/

header,
footer {
    padding: 0 6vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
}

header {
    top: 6vh;
    z-index: 3;
}

footer {
    bottom: 6vh;
}

footer p {
    font-size: x-small;
    text-align: center;
    font-family: 'Unica One', 'Varela Round', sans-serif;
    font-weight: 600;
}

.header-left,
.header-right {
    width: 50%;
}

.header-left {
    float: left;
}

#logo {
    height: 30px;
}

.header-right {
    float: right;
}

.header-right ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.header-right li {
    margin-left: 20px;
}

.language-switch a {
    font-size: small;
    font-weight: 600;
}

.nav-button {
    border: none;
}

.nav {
    display: none;
}

#sun {
    display: none;
}

/* ============================================================================================================
                                                
                                            NAV STYLING

===============================================================================================================*/

.nav-wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.nav ul {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    max-height: 200px;
    padding-left: 15vw;
}

.nav li {
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-link {
    z-index: 3;
    transition: border 2s ease;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    background-color: var(--nav-accent-color);
    transition: width .5s ease-out;
}

.nav-link:hover::before {
    width: 100%;
}

/* ============================================================================================================
                                                
                                       HOME PAGE STYLING

===============================================================================================================*/

.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.home h1 {
    font-size: 1rem;
}

.name {
    text-shadow: 2px 2px 4px var(--grey);
    letter-spacing: 1px;
}

.full-name {
    font-size: 1.5rem;
}

.nickname {
    font-size: 1.75rem;
}

.home h2 {
    border-top: 2px dashed currentColor;
    border-bottom: 2px dashed currentColor;
    padding: 5px;
    width: fit-content;
}

.home h2 {
    margin: 5px 0 7px;
    font-size: .8rem;
}

.home-links-container {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.home-link-wrapper:first-of-type {
    margin-right: 15px;
}

.home-link {
    font-weight: 600;
    font-size: .9rem;
}

.home-link-wrapper:hover,
.home-link-wrapper:focus {
    scale: 1.2;
}

.arrow {
    margin-right: 5px;
}

/* ============================================================================================================
                                                
                                            MEDIA QUERIES

===============================================================================================================*/

@media screen and (min-width: 320px) and (min-height: 400px) {

    header {
        font-size: medium;
    }

    #logo {
        height: 35px;
    }

    .header-right li {
        margin-left: 30px;
    }

    .nav ul {
        max-height: 250px;
    }

    .nav li {
        font-size: 2.5rem;
    }

    .home h1 {
        font-size: 1.25rem;
    }

    .full-name {
        font-size: 2rem;
    }

    .nickname {
        font-size: 2.5rem;
    }

    .home h2 {
        margin: 7px 0 10px;
        font-size: 1rem;
    }

    .home-links-container {
        flex-direction: column;
    }

    .home-link-wrapper:first-of-type {
        margin: 5px 0 10px;
    }

    .home-link {
        font-size: 1.2rem;
    }

    footer p {
        font-size: small;
    }
}

@media screen and (min-width: 768px) and (min-height: 400px) {

    header {
        font-size: large;
    }

    #logo {
        height: 50px;
    }

    .header-right li {
        margin-left: 40px;
    }

    .nav ul {
        max-height: 300px;
        padding-left: 20vw;
    }

    .nav li {
        font-size: 3rem;
    }

    .home h1 {
        font-size: 1.5rem;
    }

    .full-name {
        font-size: 2.5rem;
    }

    .nickname {
        font-size: 3rem;
    }

    .home h2 {
        margin: 10px 0 15px;
        font-size: 1.3rem;
    }

    .home-link {
        font-size: 1.5rem;
    }

    footer p {
        font-size: medium;
    }
}

@media screen and (min-width: 1024px) and (min-height: 450px) {

    header {
        font-size: x-large;
    }

    #logo {
        height: 60px;
    }

    .header-right li {
        margin-left: 50px;
    }

    .nav ul {
        max-height: 400px;
    }

    .nav li {
        font-size: 3.75rem;
    }

    .home h1 {
        font-size: 2.5rem;
    }

    .full-name {
        font-size: 3.3rem;
    }

    .nickname {
        font-size: 3.75rem;
    }

    .home h2 {
        margin: 15px 0 20px;
        font-size: 1.75rem;
    }

    .home-link {
        font-size: 2rem;
    }

    footer p {
        font-size: large;
    }
}



